---
layout: layouts/home.njk
title: W2G | This is the Way to ...
---

<div id="container">

    <div class="box">

        <h1>W2G</h1>

        <div class="this-is-the">THIS IS THE</div>
        <div class="way">WAY</div>

        <p><a href="mailto:hello@w2g.cz">hello@w2g.cz</a></p>

    </div>

</div>